---
import Header from "../components/Header.astro";
import NotFoundMessage from "../components/NotFoundMessage.astro";
import SiteLayout from "../layouts/SiteLayout.astro";
---

<SiteLayout title="404: Not found" path="/404">
  <main class="page">
    <Header showHome={true}/>
    <NotFoundMessage/>
  </main>
</SiteLayout>
