---
import Header from "../components/Header.astro";
import ProfileCard from "../components/ProfileCard.astro";
import SiteLayout from "../layouts/SiteLayout.astro";
---

<SiteLayout>
    <main class="page">
        <Header/>
        <ProfileCard/>
        <!--<FlightRibbon />-->
    </main>
</SiteLayout>
